body {
    font-family: 'Poppins', sans-serif;
}
.carousel-item {
    position: relative;
    background: cover;
    background-repeat: no-repeat;
    color: white;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}  
 .carousel-caption {
    top: 50;
    left: 50;
    translate: middle;
    position: absolute;
   
 }
 #carousel-item-feedback::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:none;
 }
